.sidebar {
  background-color: #433459;
  color: white;
  padding-top: 20px;
  overflow-y: auto;
  grid-area: sidebar;
  width: 250px;
  transition: all 0.3s ease;
}

.sidebar.open {
  width: 250px;
  visibility: visible;
  opacity: 1;
}

.sidebar.closed {
  width: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

.item,
.childItem {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.item:hover,
.childItem:hover {
  background-color: #2a2a50;
}

.icon {
  margin-right: 10px;
}

.childContainer {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 48px;
    height: calc(100% - 48px);
    transform: translateX(-100%);

  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar.closed {
    transform: translateX(-100%);
  }
}

/* ------------------------------------- all open and close */ 
.controlButtons {
  padding: 15px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: center;
}

.controlButtons button {
  padding: 10px 20px;
  border: 2px solid #8b61b0;
  border-radius: 5px;
  background-color: #6b607f;
  color: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.controlButtons button:hover {
  background-color: #817893;
  transform: scale(1.05);
}

.controlButtons button:active {
  background-color: #8574a4;
  transform: scale(1);
}

.controlButtons button:focus {
  box-shadow: 0 0 5px 2px rgba(67, 120, 129, 0.5);
}
